body {
  margin:20px;
}

.parent {
  background-color: #3f51b5;
  height: 500px;
  width: 500px;
  position: relative;
}

.child {
  align-items: center;
  border: 1px solid black;
  background-color: #9fa8da;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.custom {
  background-color: red;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 50px;
}